{% extends "base.html" %}

{% block header %}
<div class="header">
    <h1>Fuatilia</h1>

    <div class="nav">
        {% if logged_in %}
            <form action="/reset" method="get">
                <input name="reset" id="reset" hidden>
                <input type="submit" name="submit" id="submit" value="Reset Password">
            </form>

            <form action="/logout" method="get">
                <input name="logout" id="logout" hidden>
                <input type="submit" name="submit" id="submit" value="Log Out">
            </form>

        {% else %}
            <form action="/login" method="get">
                <input name="login" id="login" hidden>
                <input type="submit" name="submit" id="submit" value="Log In">
            </form>

            <form action="/register" method="get">
                <input name="register" id="register" hidden>
                <input type="submit" name="submit" id="submit" value="Register">
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block main %}
    <i class="more_info">{{ message }}</i>

    <div class="data-section">
        {% if profile_data %}
            <div class="profile">
                <h2>{{ profile_data.companyName }}</h2>
                <h4 class="more_info"> {{ profile_data.symbol }} • {{ profile_data.exchange }}</h4>
            </div>

            <div class="profile">
                <h3>{{ profile_data.marketCap | currency_large }} • {{ profile_data.industry }} • {{ profile_data.country }}</h3>
            </div>

        {% else %}
            <p>Profile data unavailable for this company.</p>
        {% endif %}
    </div>
    
    <div class="data-section">
        {% if price_data %}
            {{ price_data | safe }}
    
        {% else %}
            <p>Premium Query Parameter: Price data for this symbol is not available under the current subscription.</p>
        {% endif %}
    </div>

    <div class="data-section">
        <h3>Valuation Snapshot</h3>

        {% if ratio_data %}
            <div class="valuation">
                <div class="section">
                    <strong>Price to Earnings</strong>
                    <p>{{ ratio_data.priceToEarningsRatio | currency }}</p>
                </div>

                <div class="section">
                    <strong>Price to Book</strong>
                    <p>{{ ratio_data.priceToBookRatio | currency }}</p>
                </div>

                <div class="section">
                    <strong>Operating Profit</strong>
                    <p>{{ ((ratio_data.operatingProfitMargin * 100) or 0) | currency }}%</p>
                </div>

                <div class="section">
                    <strong>Dividend Yield</strong>
                    <p>{{ ratio_data.dividendYieldPercentage | currency }}%</p>
                </div>

                <div class="section">
                    <strong>Current Ratio</strong>
                    <p>{{ ratio_data.currentRatio | currency }}</p>
                </div>

                <div class="section">
                    <strong>Debt to Equity</strong>
                    <p>{{ ratio_data.debtToEquityRatio | currency }}</p>
                </div>
            </div>

        {% else %}
            <p>Premium Query Parameter: Ratio data for this symbol is not available under the current subscription.</p>
            
        {% endif %}
    </div>

    
    <div class="statements">
        <input type="radio" name="statement" id="tab-income" checked>
        <input type="radio" name="statement" id="tab-balance">
        <input type="radio" name="statement" id="tab-cashflow">

        <div class="tabs">
            <label for="tab-income">Income statement</label>
            <label for="tab-balance">Balance sheet</label>
            <label for="tab-cashflow">Cash flow</label>
        </div>

        <div class="data-section statement" id="income">
            {% if income_data %}
                <table>
                    <thead>
                        <tr>
                            <td class="label"><strong>Breakdown</strong></td>

                            {% for year in income_data %}
                                <td class="value"><strong>{{ year.fiscalYear }}</strong></td>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="label">Revenue</td>

                            {% for year in income_data %}
                                <td class="value">
                                    {{ year.revenue | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Cost Of Revenue</td>

                            {% for year in income_data %}
                                <td class="value">
                                    {{ year.costOfRevenue | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label"><strong>Gross Profit</strong></td>

                            {% for year in income_data %}
                                <td class="value">
                                    <strong>{{ year.grossProfit | currency_large }}</strong>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Selling, General and Admin Expenses</td>

                            {% for year in income_data %}
                                <td class="value">
                                    {{ year.sellingGeneralAndAdministrativeExpenses | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">R&D Expenses</td>

                            {% for year in income_data %}
                                <td class="value">
                                    {{ year.researchAndDevelopmentExpenses | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Other Expenses</td>

                            {% for year in income_data %}
                                <td class="value">
                                    {{ year.otherExpenses | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label"><strong>Operating Income</strong></td>

                            {% for year in income_data %}
                                <td class="value">
                                    <strong>{{ year.operatingIncome | currency_large }}</strong>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Net of Other Income Expenses</td>

                            {% for year in income_data %}
                                <td class="value">
                                    {{ year.totalOtherIncomeExpensesNet | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Income Before Tax</td>

                            {% for year in income_data %}
                                <td class="value">
                                    {{ year.incomeBeforeTax | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Income Tax Expense</td>

                            {% for year in income_data %}
                                <td class="value">
                                    {{ year.incomeTaxExpense | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label"><strong>Net Income</strong></td>

                            {% for year in income_data %}
                                <td class="value">
                                    <strong>{{ year.netIncome | currency_large }}</strong>
                                </td>
                            {% endfor %}
                        </tr>

                    </tbody>
                </table>

            {% else %}
                <p>Premium Query Parameter: Income statement data for this symbol is not available under the current subscription.</p>
                    
            {% endif %}
        </div>

        <div class="data-section statement" id="balance">
            {% if balance_sheet_data %}
                <table>
                    <thead>
                        <tr>
                            <td class="label"><strong>Breakdown</strong></td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    <strong>{{ year.fiscalYear }}</strong>
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="label">Cash And Short-Term Investments</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.cashAndShortTermInvestments | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>
                        
                        <tr>
                            <td class="label">Net Receivables</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.netReceivables | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Inventory</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.inventory | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Other Current Assets</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ ((year.prepaids or 0) + (year.otherCurrentAssets or 0)) | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Net PPE</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.propertyPlantEquipmentNet | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Goodwill And Intangible Assets</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.goodwillAndIntangibleAssets | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Long Term Investments</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.longTermInvestments | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Other Non Current Assets</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ ((year.taxAssets or 0) + (year.otherNonCurrentAssets or 0) +(year.otherAssets or 0)) | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label"><strong>Total Assets</strong></td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    <strong>{{ year.totalAssets | currency_large }}</strong>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Total Payables</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ ((year.totalPayables or 0) + (year.accruedExpenses or 0)) | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Short Term Debt</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.shortTermDebt | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Deferred Revenue</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.deferredRevenue | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Other Current Liabilities</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ ((year.taxPayables or 0) + (year.otherCurrentLiabilities or 0) +
                                        (year.capitalLeaseObligationsCurrent or 0)) | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Long Term Debt</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.longTermDebt | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Capital Lease Obligations (Non-Current)</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.capitalLeaseObligationsNonCurrent | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Other Non-Current Liabilities</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ ((year.otherNonCurrentLiabilities or 0) + (year.deferredRevenueNonCurrent or 0) +
                                        (year.deferredTaxLiabilitiesNonCurrent or 0) + (year.otherLiabilities or 0))| currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Equity</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ ((year.treasuryStock or 0) + (year.preferredStock or 0) + (year.commonStock or 0) +
                                        (year.additionalPaidInCapital or 0) + (year.otherTotalStockholdersEquity or 0)) | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Retained Earnings</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.retainedEarnings | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Accumulated Other Comprehensive Income/Loss</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.accumulatedOtherComprehensiveIncomeLoss | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Minority Interest</td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    {{ year.minorityInterest | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label"><strong>Equity and Liabilities</strong></td>

                            {% for year in balance_sheet_data %}
                                <td class="value">
                                    <strong>{{ year.totalLiabilitiesAndTotalEquity | currency_large }}</strong>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>

            {% else %}
                <p>Premium Query Parameter: Balance sheet data for this symbol is not available under the current subscription.</p>
                    
            {% endif %}
        </div>

        <div class="data-section statement" id="cashflow">
            {% if cashflow_data %}
                <table>
                    <thead>
                        <tr>
                            <td class="label"><strong>Breakdown</strong></td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    <strong>{{ year.fiscalYear }}</strong>
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="label">Cash At Beginning Of Period</td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    {{ year.cashAtBeginningOfPeriod | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Net Cash, Operating Activities</td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    {{ year.netCashProvidedByOperatingActivities | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>
                        
                        <tr>
                            <td class="label">Net Cash, Investing Activities</td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    {{ year.netCashProvidedByInvestingActivities | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Net Cash, Financing Activities</td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    {{ year.netCashProvidedByFinancingActivities | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Effect Of Forex Changes On Cash</td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    {{ year.effectOfForexChangesOnCash | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label"><strong>Cash At End Of Period</strong></td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    <strong>{{ year.cashAtEndOfPeriod | currency_large }}</strong>
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label">Capital Expenditure</td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    {{ year.capitalExpenditure | currency_large }}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td class="label"><strong>Free Cash Flow</strong></td>

                            {% for year in cashflow_data %}
                                <td class="value">
                                    <strong>{{ year.freeCashFlow | currency_large }}</strong>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p>Premium Query Parameter: Cashflow data for this symbol is not available under the current subscription.</p>
                    
            {% endif %}
        </div>
    </div>
    
    <div class="company_nav">
        <form action="/" method="get">
            <input name="index" id="index" hidden>
            <input type="submit" name="submit" id="submit" value="New Search">
        </form>

        <form action="/portfolio" method="post">
            <input name="portfolio" id="portfolio" hidden>
            <input type="submit" name="submit" id="submit" value="Add to portfolio">
        </form>
    </div>

{% endblock %}