{% extends "base.html" %}

{% block header %}
<div class="top">
    <h1>Fuatilia</h1>

    <div class="nav">
        {% if logged_in %}
        <form action="/logout" method="get">
            <input name="login" id="login" hidden>
            <input type="submit" name="submit" id="submit" value="Log Out">
        </form>

        <form action="/" method="get">
            <input name="search" id="search" hidden>
            <input type="submit" name="submit" id="submit" value="Search">
        </form>

        {% else %}
        <form action="/login" method="get">
            <input name="login" id="login" hidden>
            <input type="submit" name="submit" id="submit" value="Log In">
        </form>

        <form action="/register" method="get">
            <input name="register" id="register" hidden>
            <input type="submit" name="submit" id="submit" value="Register">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block main %}

    {% if profile_data %}
        <h1>{{ profile_data.companyName }}</h1>

        <table>
            <tbody>
                <tr>
                    <td>Symbol</td>
                    <td>{{ profile_data.symbol }}</td>
                </tr>

                <tr>
                    <td>Currency</td>
                    <td>{{ profile_data.currency }}</td>
                </tr>

                <tr>
                    <td>Market Capitalization</td>
                    <td>{{ profile_data.marketCap | currency }}</td>
                </tr>

                <tr>
                    <td>Exchange</td>
                    <td>{{ profile_data.exchange }}</td>
                </tr>

                <tr>
                    <td>Industry</td>
                    <td>{{ profile_data.industry }}</td>
                </tr>

                <tr>
                    <td>Country</td>
                    <td>{{ profile_data.country }}</td>
                </tr>
            </tbody>
        </table>
    
    {% else %}
        <p>Profile data unavailable for this company.</p>
        
    {% endif %}

    <form action="/" method="get">
        <input name="index" id="index" hidden>
        <input type="submit" name="submit" id="submit" value="New Search">
    </form>

{% endblock %}